body {
  background-color: rgb(216, 230, 235);
}

#page {
  display: grid;
  grid-template-areas:
    "head head"
    "main side"
    "extra side";
}

form {
  color: rgb(rgb(146, 63, 63), rgb(86, 184, 86), rgb(106, 106, 160));
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: lightblue;
  border-style: groove;

  padding-bottom: 35px;
}

form label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: small;
  color: rgb(141, 172, 105);
}

form input {
  color: rosybrown;
}

header {
  grid-area: head;
}

main {
  grid-area: main;
  padding: 50px;
  border-style: dashed;
  border-color: beige;
  text-align: center;
  background-color: rgb(156, 203, 203);
}

.display-div {
  grid-area: extra;
  visibility: hidden;
  border: 1px solid honeydew;
  background-color: rgb(106, 106, 160);
}

.history {
  grid-area: side;
  padding: 50px;
  border-style: double;
  border-color: cadetblue;
  text-align: center;
  background-color: rgb(153, 196, 198);
}

ul {
  padding-inline-start: 0px;
}

.display-li {
  text-align: center;
  list-style: none;
}
